*{
    margin: 0;
    padding: 0;
}

.headerimg{

    background-size: contain;
    background: transparent no-repeat center;
    width: 100%;
    background: url(./image/IMG-20240213-WA0001.jpg);
    background-size: cover;
  width: 100%;
  height: 1000px;  

  

}




#headerimgid{
    width: 100%;
    height: auto;
   
}
.displayimg{
    width: 20%;
    max-height: auto;
}
.firstimg{
   
    display: flex;
    margin: 30px 0;
    display: flex;
    justify-content: start;
    max-width: 70%;
}

.words{
    background-color: beige;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;

}
.firstimg p{
    background-color: rgb(184, 180, 180);
    height: 50%;
    padding: 20px;
    color: rgb(234, 233, 233);
    margin-left: 10px;
}
.textcontainer{
    
    width: 100%;
}
.crosscontainer{
    background-size: cover;
    background: transparent no-repeat center;
    width: 100%;
    opacity: 0.5;

}
.crosscontainer img{
    width: 100%;
}
nav{
    background: transparent;
}
ul li{
    list-style-type: none;
    margin-bottom: 1rem;

  
}
ul li a{
    color: whitesmoke;
    margin-bottom: 1rem;
    text-decoration: none;
    z-index: -1;
    text-decoration: none;
    color: #000;

    

}
ul li a:hover{
   
    text-decoration: none;
    

    

}
ul li:hover {
   
    text-decoration: none;
   
    
}
.links-container {
    position: fixed;
      top: -100%;
   
    color: #fff;
    padding: 5rem 1rem;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    text-transform: capitalize;
    font-family: poppins, sans-serif;
    transition: all 0.7s ease-out;
   

  }
.links-container.active {
    height: 100vh;
    top: 0;
    left: 0;
    width: 100vw;
    overflow: hidden;
    display: block;
    z-index: 1;
    background: linear-gradient(90deg, rgb(138, 56, 56) 0%, rgb(125, 56, 56) 35%, rgb(122, 69, 69) 100%);
   
  
   
  }

.close-icon {
    position: absolute;
    top: 3%;
    right: 10%;
  }
  .bar-div{
    color: rgb(218, 204, 204);
    font-size: 1.5rem;

    /* for big dcreen*/
    
   
  }
/* end of nav section styling */

.card-section{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
input#open{
    display: none;
}
.valentines-day-card{
    position: relative;
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    transform: perspective(2500px);
    transition: .3s;
}
.card-front{
    position: relative;
    background-color: #fff0f3;
    width: 300px;
    height: 300px;
    transform-origin: left;
    box-shadow: inset 100px 20px 100px rgba(0, 0, 0, .15), 30px 0 50px rgba(0, 0, 0, .3);
    transition: .3s;
}
.card-front::before{
    content: "";
    position: absolute;
    width: 280px;
    height: 280px;
    background-color: #d04e4e;
    top: 10px;
    left: 10px;
}
.card-inside{
    position: absolute;
    background-color: #fff0f3;
    width: 300px;
    height: 300px;
    z-index: -1;
    left: 0;
    top: 0;
    box-shadow: inset 100px 20px 100px rgba(0, 0, 0, .22), 30px 0 50px rgba(0, 0, 0, .1);
}
.open{
    position: absolute;
    width: 300px;
    height: 300px;
    left: 0;
    top: 0;
    background-color: transparent;
    z-index: 7;
    cursor: pointer;
}
#open:checked~.card-front{
    transform: rotateY(-155deg);
    box-shadow: inset 100px 20px 100px rgba(0, 0, 0, .13), 30px 0 50px rgba(0, 0, 0, .1);
    
}

#open:checked~.card-front::before{
    z-index: 5;
    background-color: #fff0f3;
    width: 300px;
    height: 300px;
    top: 0;
    left: 0;
    box-shadow: inset 100px 20px 100px rgba(0, 0, 0, .1), 30px 0 50px rgba(0, 0, 0, .1);

}
.note{
    position: relative;
    width: 200px;
    height: 150px;
    top: 75px;
    left: 50px;
    color: #333;
    background-color: #fff0f3;
    font-size: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    filter: drop-shadow(0 0 20px rgba(0,0,0, 0.3));

}

.note::before, .note::after{
    content: "";
    position: absolute;
    background-color: #ba1c1c;
    width: 40px;
    height: 40px;
}
.note::before{
    transform: rotate(45deg);
    top: -20px;
    left: 80px;
}
.note::after{
    border-radius: 50%;
    top: -35px;
    left: 65px;
    box-shadow: 30px 0 #ba1c1c;
}

.text-one{
    position: absolute;
    color: #333;
    font-size: 30px;
    width: 300px;
    text-align: center;
    z-index: -99;

}
.text-one::before, .text-one::after{
    position: absolute;
    left: 5px;
    text-align: center;
    width: 300px;
   
}

.text-one::before{
    content: "Valentine's";
    top: 40px;
    color: #d04e4e;
    font-style: bold;
}
.text-one::after{
    content: "day heartbeat (Ak Rivers)";
    top: 70px;
    font-style: bold;
}
.heart{
    position: relative;
    background-color: #d04e4e;
    height: 60px;
    width: 60px;
    top: 180px;
    left: 120px;
    transform: rotate(-45deg);
    animation: beat .48s infinite alternate;
	transform-origin: center;
}
.heart::before, .heart::after{
    content: "";
    position: absolute;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    background-color: #d04e4e;
    
   
}
.heart::before{
  top: -30px;
  left: 0;
}
.heart::after{
  left: 30px;
  top: 0;
}
.heart::before{
    content: "";
    position: absolute;
    border-radius: 50%;
    height: 60px;
    width: 60px;
}
@keyframes bit {
    0%,40%, 100% {transform: scale(1) rotate(-45deg);}
    25%, 60% {transform: scale(1,1) rotate(-45deg);}
    
}
@keyframes bat{
	
    25%, 60% {transform: scale(0.1) rotate(-45deg);}
}

@keyframes beat{
	to { transform: scale(0.4) rotate(-45deg); }
}


@media only screen and (max-width: 375px) {
    .nav-section{
        background-color: #8a3939;
        padding: 20px;
    }
    .firstimg{
   
        display: flex;
        margin: 30px 0;
        display: flex;
        justify-content: start;
        max-width: 100%;
    }
    .logo{
        display: none;
    }
    .links-container{
        padding: 4em 3rem;
    }
    .close-icon {
        position: absolute;
        top: 3%;
        right: 30%;
      }
      .nav-info li a{
        color: #000;

      }

      .textarea{
        
      }
    

      .firstimg p{
      
        
      
        color: rgb(234, 233, 233);
        
    }
    .textcontainer{
        
        width: 100%;
        background-color: #d04e4e;
        background-color: rgb(184, 180, 180);
        margin-left: 10px;
    }

}



@media only screen and (min-width: 768px) {
    .bar-div{
       display: none;
        
       
      }
      .links-container {
        position: relative;
        height: 0;
        left: 0;
        padding: 0;
      }
      .links-container.active {
        height: 0;
        top: 0;
        left: 0;
        width: 0;
      }

      .nav-info li a {
        font-weight: 500px;
        color: #080808;
       
        text-decoration: none;
        transition: all 0.5s ease-in-out;
      }
      .logo-container{
        display: flex;
        justify-content: space-between;
        margin: 0 4rem;
        padding: 30px;
      }
      .logo{
        font-size: 1.5rem;
        margin-top: -10px;
        
      }

      .close-icon {
        display: none;
      }
    
      .nav-info {
        display: flex;
        color: #344563;
        font-family: Poppins, sans-serif;
      }
    
      .nav-info li {
        list-style-type: none;
        margin-right: 1rem;
        font-size: 1rem;
        line-height: 20px;
        text-transform: capitalize;
      }

      .bar-div {
        display: none;
      }





}